<section class="section card1">
    <div class="linha">
        <h4>Merchan</h4>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#merchan_collapseOne" aria-expanded="true" aria-controls="merchan_collapseOne">
                    Lista
                </button>
            </h2>
            <div id="merchan_collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div>

                        <ul class="lista">


                            <label for="radio1" class="item">
                                <input type="radio" id="radio1" name="opcao" class="radio">
                                <img src="/pictures/merchan/solar.png" alt="Imagem" class="imagem">

                            </label>



                            <label for="radio2" class="item">
                                <input type="radio" id="radio2" name="opcao" class="radio">
                                <img src="/pictures/merchan/solar.png" alt="Imagem" class="imagem">
                            </label>

                            <!-- Adicione mais itens conforme necessário -->
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>