<section class="section card1">
    <div class="linha">
        <h4>Merchan</h4>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#merchan_collapseOne" aria-expanded="true" aria-controls="merchan_collapseOne">
                    Lista
                </button>
            </h2>
            <div id="merchan_collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div>
                        <div class="radio-input">
                            <input value="value-1" name="value-radio" id="value-1" type="radio" />
                            <label for="value-1">
                                <div class="text">
                                    <span class="circle"></span>
                                </div>
                                <div class="price">
                                    <img class="logo" src="/pictures/merchan/solar.png" alt="" srcset="">
                                </div>
                            </label><input value="value-2" name="value-radio" id="value-2" type="radio" />
                            <label for="value-2">
                                <div class="text">
                                    <span class="circle"></span>
                                </div>
                                <div class="price">
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>

</style>