<div>
    <select id="selectbox" id="time1" >
        <option value="" selected="selected" disabled="disabled">Selecionar Time</option>
        <% jogos.forEach(jogo=> { %>
            <option value="<%= jogo.idjogo %>">
                <%= jogo.nome_time1 %> x <%= jogo.nome_time2 %>
            </option>
        <%})%>
        
    </select>
</div>



<style>
    select {
        border: 0;
        pad: 5px;

        &:focus,
        &:active {
            outline: 0;
            border-bottom-color: red;
        }
    }
</style>


